.DS_Store
.DS_Store?
._*

/tmp
/.cache
/node_modules
/bower_components
/dist
# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
*.yml
*.iml
.idea
/.idea
.idea/UI-X.iml
*.lnk
ebuild.bat
